body {
    width: 1200px;
    margin: auto;
    font-family: "Open Sans";
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ask-btn {
    background-color: #33836e;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    color: white;
    font-size: 16px;

}

.contacts {
    display: block;

}

.phone-number {
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.search {
    width: 427px;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgba(180, 184, 180, 0.644);
}

.menu {
    align-items: center;
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;

}

.menu-border {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 202px;
    height: 44px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.menu-border1 {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 202px;
    height: 44px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.menu a {
    text-decoration: none;
    color: black;
}

.headglav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 40px;
}

.headglav a {
    text-decoration: none;
    color: grey;
}

.line {
    display: flex;
    gap: 140px;

}

.line1 {

    /* width: 657px; */
    font-size: 38px;
    margin-top: 40px;
    color: #140A32;

}

.line2 {

    /* width: 657px; */
    font-size: 16px;
    /* line-height: 160%; */
    color: #140A32;
    margin-top: 20px;
}

.line2 p {
    margin-top: 30px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

h2 {
    color: #33836e;
    margin: 0;

}


h5 {
    margin: 0;
}

p {}

.headgla2 a {
    text-decoration: none;
    color: grey;
}

.yourist {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.phone {
    text-decoration: underline;
    display: block;
    color: #33836e;
}

.menu2 {
    align-items: center;
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: space-between;
}

.menu2 a {
    text-decoration: none;
    color: black;
}

.instruct-border {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    padding: 10px 20px;
    gap: 15px;

    width: 270px;
    height: 180px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu h2 {
    font-size: 16px;
}

.devushka {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.instruct2-border {
    display: flex;

    align-items: center;
    padding: 10px 20px;
    gap: 15px;

    width: 560px;
    height: 180px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;


}

.menu228 h2 {
    font-size: 16px;
}

.menu228 a {
    text-decoration: none;
    color: black;
}

.menu228 {
    align-items: center;
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
}

.yourist2 {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.klass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu2288 h2 {
    font-size: 16px;
}

.menu2288 a {
    text-decoration: none;
    color: black;
}

.menu2288 {
    align-items: center;
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
}

.instruct22-border {
    display: flex;
    flex-direction: column;

    padding: 10px 20px;
    gap: 15px;

    width: 560px;
    height: 287px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;
}

.instruct22-border a {
    text-decoration: none;
    color: grey;
}